<h3 class="text-center">Welcome to the task manager! What tasks can I help you manage?</h3>


<div class="row">
  <% if @tasks.empty? %>
    <a class="col-md-2 col-md-offset-5 btn btn-primary btn-lg disabled" href="/tasks" role="button">Tasks left</a>
  <% else %>
    <a class="col-md-2 col-md-offset-5 btn btn-primary btn-lg" href="/tasks" role="button">Tasks left</a>
  <% end %>
</div>


<p><div class="row">
  <a class="col-md-2 col-md-offset-5 btn btn-primary btn-lg" href="/tasks/new" role="button">Add a new task</a></p>
</div></p>
