<h3>Welcome to the task manager! What tasks can I help you manage?</h3>

<ul>
  <li style="margin-top:2em;"><a href="/tasks">Tasks left to complete...</a></li>
  <li style="margin-top:2em;"><a href="/tasks/new">Add a new task</a></li>
</ul>
