<% if @tasks.empty? %>
  <h4>You need to add some tasks!</h4>
  <h5><a href="/tasks/new">Add new task</a></h5>
<% else %>
  <h4>Here are the tasks you still have to complete...</h4>
  <% @tasks.each do |task|%>
    <h4><%= task.id %>: <a href="/tasks/<%= task.name %>"><%= task.name %></a></h4>
  <% end %>
<% end %>
<h5><a href="/">Back to task dashboard</a></h5>



