<form action="/tasks" method="post">
  <h5>Describe your upcoming obligation</h5>
  <input type="text" name="task[title]"><br/>
  <textarea name="task[to_do]"></textarea><br/>
  <input type="submit" value="add to to-do list">
</form>
