<form action="/tasks" method="post">
  <h4>Please describe your upcoming task...</h4>
  <input type="text" name="task[name]" placeholder="Task name..."><br/>
  <textarea name="task[to_do]" placeholder="Description..."></textarea><br/>
  <input type="submit" value="add to tasks">
</form>
